.signInButton{
	margin-left: 8px;
}

@media only screen and (max-width: 991px) {
  .signInButton {
    margin-top: 10px;
  }
  .searchBar{
  	margin: auto;
  }
}

@media only screen and (max-width: 575px) {
  .searchButton {
    margin-top: 10px;
    width: 100%
  }
  .signInButton{
  	width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
}